h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-color: transparent;
  color: #22343d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
}

a,
button,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: color, background-color, border, box-shadow, visibility,
    opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

a,
button {
  cursor: url("/img/cursor.svg"), pointer;
}

button {
  padding: 15px 24px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  min-width: 350px;
  max-width: 370px;
  padding: 100px 10px;
}

.menu-list,
.auth-buttons {
  display: none;
}

.main-logo-button-svg,
.burger-menu {
  padding: 0;
  border: none;
}

/* Логотип + текст PRODUCT */

.main-logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  margin-right: 154px;
  margin-left: 8px;
}

.header-container {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  justify-content: center;
}

/* Секція один Work at the speed of thought */
.one-section-container {
  flex-wrap: wrap;
  gap: 10px;
}

.one-section-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66667;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.one-section-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #22343d;
  padding-bottom: 32px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.primary {
  border-radius: 4px;
  width: 142px;
  height: 53px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
}

.secondary {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}

.icon-triangle {
  fill: #02897a;
}

/* Секція два Product  was Built Specifically for You */

.two-section-container {
  padding-top: 0;
  flex-wrap: wrap;
}

.two-section-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 50px;
}

.features-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 32px;
  margin-bottom: 32px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
}

.two-section-h3 {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 8px;
}

.two-section-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  width: 50px;
  height: 50px;
  fill: #fff;
  margin-bottom: 24px;
}

.green {
  background: #02897a;
}

.blue {
  background: #4d8dff;
}

.purple {
  background: #740a76;
}

.red {
  background: #f03e3d;
}

.signup-btn {
  padding: 15px 32px;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

/* Секція три Management */
.tree-section-container {
  flex-direction: column;
  padding-top: 0;
  gap: 50px;
}

.small-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.main-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 16px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 16px;
}

.sub-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}

.sub-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 16px;
}

/* Секція чотири Customer Support */

.four-section-container {
  flex-direction: column;
  gap: 50px;
}

.section-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 16px;
}

.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 16px;
}

.four-section-li-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.four-section-li {
  display: flex;
  align-items: center;
  gap: 30px; /* Відстань між іконкою і текстом */
  margin-bottom: 16px;
}

.icon-four-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  flex-shrink: 0; /* щоб іконка не зменшувалась */
}

.one {
  background: #f90;
}

.two {
  background: #f03e3d;
}

.tree {
  background: #4d8dff;
}

.four-section-svg {
  fill: #fff;
}

/* Секція пьять Collaborative */

.five-section-container {
  flex-direction: column;
  padding-top: 0;
  gap: 50px;
  text-align: left;
}

.photo-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.photo-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 16px;
}

.photo-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 16px;
}

.photo-subtitle-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}

.photo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 24px;
}

/* Секція шість Quick & Easy Process */

.process-container {
  flex-direction: column;
  padding-top: 0;
}

.process-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 8px;
}

.process-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
}

.process-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin-bottom: 32px;
}

.process-item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 15px;
}

.process-item-block-one {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.process-item-block-two {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.process-item:nth-child(even) {
  flex-direction: row-reverse;
}

.process-text {
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
}

.process-btn {
  background: #02897a;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 15px 30px;
}

/* Секція сім Contents Strategies */

.content-container {
  flex-direction: column;
}

.content-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 8px;
}

.content-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.content-img {
  margin-bottom: 24px;
}

.content-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  margin-bottom: 16px;
}

.strong {
  font-weight: 700;
}

.content-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
}

/* Секція вісім Price Table */

.pricing-container {
  flex-direction: column;
  padding-top: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.pricing-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 8px;
}

.pricing-subtitle {
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 74px;
}

.pricing-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.pricing-card {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.pricing-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
  margin-bottom: 8px;
}

.pricing-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
  margin-bottom: 16px;
}

.pricing-value {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.plan {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}

.price-container {
  display: flex;
  flex-direction: column; /* Розташовує знак долара над "Per / month" */
  align-items: flex-start; /* Вирівнює текст по лівому краю */
}

.dollar-standard-plan-svg {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  fill: #02897a;
}

.pricing-duration {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.pricing-features {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  color: #22343d;
  margin-bottom: 16px;
}

.pricing-btn {
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background-color: #02897a;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 11px 18px;
  margin-bottom: 32px;
}

/* Наведення: фон змінюється на зелений */
.pricing-card:hover {
  background: #2b7a4b;
  color: white;
}

/* Наведення: змінюється колір тексту */
.pricing-card:hover .pricing-desc,
.pricing-card:hover .pricing-name,
.pricing-card:hover .plan {
  color: #ffffff;
}

.pricing-card:hover .pricing-duration {
  color: #e0e0e0;
}

/* Наведення: змінюється колір іконки */
.pricing-card:hover .icon-standard-plan-svg svg {
  fill: white;
}

/* Наведення: змінюється колір значка $ */
.pricing-card:hover .dollar-standard-plan-svg svg {
  fill: white;
}

/* Наведення: змінюється колір тексту */
.pricing-card:hover .pricing-duration {
  color: white;
}

/* Наведення: змінюється колір тексту фіч */
.pricing-card:hover .pricing-features li {
  color: white;
}

/* При наведенні на карточку кнопка стає зеленою */
.pricing-card:hover .pricing-btn {
  background: white;
  color: #2b7a4b;
}

/* Секція девять What Clients Say */

.reviews-container {
  flex-direction: column;
}

.star-icon {
  max-width: 18px;
  max-height: 18px;
}
